@import "../../assets/sass/theme";

.custom-button {
    margin-top: 10px;
    background-color: $color-white;
    height: 31px;
    width: 261px;
    border-radius: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    &-content {
        margin-left: 12px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
    }
}